<div class="col-lg-8 col-lg-offset-2 col-md-8 col col-md-offset-2 col-sm-10 col col-sm-offset-1 col-xs-12">
    <div class="panel-post">
        <div class="panel-body panel-body-post">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                <img class="profile-img-post" src="assets/img/fabrice.jpg">
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-8">
                <b class="text-blue"><i class="glyphicon glyphicon-eye-open"></i> Toto Dupont</b>
                <p>Texte de votre post qui est au choix de la demande de la personne qui est en train d'ecrire ce texte quie ne veut rien dire #WTF</p>
            </div>
        </div>
        <div class="panel-body panel-body-comment">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
                <img class="profile-img-comment" src="assets/img/fabrice.jpg">
            </div>
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-10">
                <b class="text-blue">Toto Dupont</b>
                <p>Texte de votre post qui est au choix de la demande de la personne qui est en train d'ecrire ce texte quie ne veut rien dire #WTF</p>
            </div>
        </div>
        <div class="panel-body panel-body-comment">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
                <img class="profile-img-comment" src="assets/img/fabrice.jpg">
            </div>
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-10">
                <b class="text-blue">Toto Dupont</b>
                <p>Texte de votre post qui est au choix de la demande de la personne qui est en train d'ecrire ce texte quie ne veut rien dire #WTF</p>
            </div>
        </div>
        <div class="panel-body panel-body-comment">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
                <img class="profile-img-comment" src="assets/img/fabrice.jpg">
            </div>
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-10">
                <b class="text-blue">Toto Dupont</b>
                <p>Texte de votre post qui est au choix de la demande de la personne qui est en train d'ecrire ce texte quie ne veut rien dire #WTF</p>
            </div>
        </div>
        <div class="panel-body create-comment">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
                <img class="profile-img-comment" src="assets/img/fabrice.jpg">
            </div>
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-10">
                <div class="row col-xs-12">
                    <b class="text-blue">Toto Dupont</b>
                </div>
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                        <input type="text" class="form-control input-blue input-comment" placeholder="Entrer votre commentaire ici">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <button type="submit" class="btn btn-blue btn-comment"><i class="glyphicon glyphicon-ok"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="post-footer">
            <a>++</a>
            <a>--</a>
            <a>Commenter</a>
            <a>Forker</a>
        </div>
    </div>
</div>