<div class="navbar navbar-blue navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <img class="navbar-toogle-img" src="assets/img/PamelaChu-logo.png">
        </button>
        <a class="navbar-brand" href="/">${i18n("header.title")}</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">${i18n("header.home")}</a>
            </li>
        </ul>
    </div>
    <!--/.navbar-collapse -->
</div>