<div class="col-lg-8 col-lg-offset-2 col-md-8 col col-md-offset-2 col-sm-10 col col-sm-offset-1 col-xs-12">
    <div class="infos-panel panel-blue">
        <div class="panel-title">
            <h4 class="text-blue">Infos personnelles</h4>
        </div>
        <div class="panel-body">
            <span class="text-blue">Nom</span><br>
            <span>Trebuchon</span>
            <br>
            <span class="text-blue">Prénom</span><br>
            <span>Fabrice</span>
            <br>
            <span class="text-blue">Date de naissance</span><br>
            <span>06/07/1991</span>
            <br>
            <span class="text-blue">Pseudo</span><br>
            <span>Trebalsh</span>
            <br>
        </div>
        <div class="panel-title">
            <h4 class="text-blue">Contact</h4>
        </div>
        <div class="panel-body">
            <span class="text-blue">Mail</span><br>
            <span>f.trebuchon34@gmail.com</span>
            <br>
        </div>
        <div class="panel-title">
            <h4 class="text-blue">Localisation</h4>
        </div>
        <div class="panel-body">
            <span class="text-blue">École</span><br>
            <span>Epitech</span>
            <br>
            <span class="text-blue">Ville</span><br>
            <span>Paris</span>
            <br>
        </div>
        <div class="panel-title">
            <h4 class="text-blue">Infos Geek</h4>
        </div>
        <div class="panel-body">
            <span class="text-blue">Console</span><br>
            <span>PS3</span>
            <br>
            <span class="text-blue">PC</span><br>
            <span>Mac</span>
            <br>
            <span class="text-blue">Jeux vidéos de prédilexion</span><br>
            <span>Worms, Fifa</span>
            <br>
        </div>
    </div>
</div>